body{
    background-color: rgba(8, 38, 5, 1);
    background-size: cover;
    font-family: Arial;
    font-size: 30px;
    margin: 0%;
    padding: 0%;
}
.navbar-brand{
    color: rgba(192, 169, 87, 1);
    font-family: Arial;
    font-size: 70px;
    margin-left: -1%;
    margin-bottom: -2%;
    margin-top: -2%;
}
.icon1{
    border-radius: 100%;
    height: 110px;
    width: 110px;
    margin-left: 35%;
    margin-top: 80%;
}
.icon{
    border-radius: 100%;
    height: 110px;
    width: 110px;
    margin-left: -7.5%;
    margin-top: -14%;
}
.kotak{
    background-color: white;
    width: 1250px;
    height: 650px;
    margin-left: 0%;
    margin-top: 0%;
    font-family: Arial;
}
.garis1{
    width: 100px;
    height: 650px;
    background-color: rgb(240, 226, 178);

}
.bio{
    background-color: white;
    width: 500px;
    height: 170px;
    margin-left: 6%;
    margin-top: 10%;
    font: 35px Arial;
}
.judul{
    font: bold 70px Arial;
    color: rgba(8, 38, 5, 1);
    margin-top: 7%;
    margin-bottom: 0%;
    margin-left: 5%;
}
.isi{
    font: 27px Arial;
    color: rgb(0, 0, 0);
    margin-top: 1%;
    margin-bottom: 0%;
    margin-left: 5%;
}
.boldemas{
    font: bold 32px Arial;
    color:rgba(192, 169, 87, 1);
    margin-top: -1%;
    margin-bottom: 0%;
    margin-left: 5%;
}
.data{
    margin-left: 7%;
    font: 35px Arial;
}
.hello h1{
    background-color:white;
    width: 500px;
    height: 400px;
    margin-left: 100%;
    font: bold 180px Arial;
    color: rgba(8, 38, 5, 1);
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
}
.line{
    /* border-left: 10px solid rgba(8, 38, 5, 1); */
    background-color: rgba(8, 38, 5, 1);
    margin-left: 2%;
    margin-top: -28%;
    width: 10px;
    height: 130px;
}
.progress-bar{
    background: rgba(192, 169, 87, 1);
    border: 2px solid black;
}
.tulis{
    font: 30px Arial;
    color: rgba(8, 38, 5, 1);
}

.progress{
    margin-top: 2%;
}

.garis2{
    width: 400px;
    height: 70px;
    background-color: rgba(192, 169, 87, 0.5);
    margin-left: 20%;
    margin-top: -15%;
}
.photo{
    background-color:white;
    width: 460px;
    height: 600px;
    margin-left: 0%;
}
.foto{
    height: 400px;
    width: 650px;
    margin-left: 1%;
    margin-top: 3%;
}
.pic{
    border-radius: 100%;
    height: 350px;
    width: 350px;
    margin-left: 13%;
    margin-top: 15%;
}
.circle1{
    height: 250px;
    width: 250px;
    background-color: rgba(192, 169, 87, 1);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -55%;
}
.circle2{
    height: 150px;
    width: 150px;
    background-color:rgba(192, 169, 87, 1);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -105%;
}
.iconCM{
    height: 80px;
    width: 80px;
    margin-left: 8%;
    margin-top: 3%;
}
.contactt{
    background-color: white;
    width: 500px;
    height: 400px;
    margin-left: 0%;
    margin-top: 32%;
    font: 30px Arial;

}
.tulisan{
    font: 30px Arial;
    color: rgb(0, 0, 0);
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 0%;
}
.iconSM{
    background-color:white;
    width: 500px;
    height: 400px;
    margin-top: 20%;
    margin-left: 20%;
}
.icon2{
    border-radius: 100%;
    height: 110px;
    width: 110px;
    margin-left: -45%;
    margin-top: 33%;
}
.icon3{
    border-radius: 100%;
    height: 110px;
    width: 110px;
    margin-left: -7%;
    margin-top: -50%;
}
.CM{
    font: bold 70px Arial;
    color: rgba(8, 38, 5, 1);
    margin-top: -77%;
    margin-bottom: 0%;
    margin-left: -17%;
}

.navbar-nav{
    font-family: Arial;
    font-size: 20px;
    margin-left: 55%;
}
.nav-link{   
    color:rgba(192, 169, 87, 1) !important; 
}