{% extends "NavBar.html" %}
{% load static %}
{% block tittle %}My Activity | Ayila Adzkiya S{% endblock %}
{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-1 garis1"></div>
        <div class="col-11 kotak">
            <h1 class="judul">MY ACTIVITY .</h1>
            <img src="https://cdn4.iconfinder.com/data/icons/miscellaneous-40/100/proactive_-512.png" alt="picture" class="icon">
            {% for ngambil in jadwal %}
                <p> Nama_Jadwal : {{ngambil.Nama_Jadwal}}</p>
                <p> Date : {{ngambil.Date}}</p>
                <p> Time : {{ngambil.Time}}</p>
                <p> Tempat : {{ngambil.Tempat}}</p>
                <p> Kategori : {{ngambil.Kategori}}</p>
                <form action = "{% url 'hapus' hapus_id=ngambil.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Erase</button>
                </form>
                <br>
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script> 
<script src="css/bootstrap.css"></script>
{% endblock %}