{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'HomeCSS.css' %}">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand nav-link" href="/home-page/">AY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/aboutme-page/">About Me<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/education-page/">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/experience-page">Experience</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="/myskills-page/">My Skills</a>
                </li>
              <li class="nav-item">
                    <a class="nav-link" href="/contactme-page/">Contact Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myactivity-page/">Activity Form</a>
          </li>
            </ul>
        </div>
    </nav>
    <title>{% block tittle %}{% endblock %}</title>
  </head>
  <body>
      {% block content %}{% endblock %}
  </body>
</html>
