{% extends "NavBar.html" %}
{% load static %}
{% block tittle %}Contact Me | Ayila Adzkiya S{% endblock %}
{% block content %}
<div class="container" >
  <div class="row">
      <div class="col-1 garis1"></div>
      <div class="col-2 kotak">
          <img src="https://cdn1.iconfinder.com/data/icons/phones-2/512/phone_symbol_3-512.png" alt="picture" class="icon2">
          <div class="iconSM">
              <a href="http://wa.me/0818941966">
              <img src="https://image.flaticon.com/icons/png/512/33/33447.png" alt="picture" class="iconCM"><br>
              </a>
              <a href="mailto:ayilaadzkiya@gmail.com">
              <img src="https://image.flaticon.com/icons/png/512/54/54215.png" alt="picture" class="iconCM"><br>
              </a>
              <a href="http://instagram.com/ayiladzky/">
              <img src="http://www.vectorico.com/download/social_media/Instagram-Logo.png" alt="picture" class="iconCM"><br>
              </a>
              <a href="https://twitter.com/ayldzky">
              <img src="https://image.flaticon.com/icons/png/512/23/23931.png" alt="picture" class="iconCM">
              </a>
          </div>
      </div>
      <div class="col-8 kotak">
          <div class="contactt">
              <p class="tulisan"> +62 818941966 </p><br>
              <p class="tulisan"> ayilaadzkiya@gmail.com</p><br>
              <p class="tulisan"> instagram.com/ayiladzky </p><br>
              <p class="tulisan"> twitter.com/ayldzky</p>
          </div>
          <h1 class="CM"> CONTACT ME . </h1>
      </div>
      <div class="col-1 kotak"></div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script> 
<script src="css/bootstrap.css"></script>
{% endblock %}
