{% extends "NavBar.html" %}
{% load static %}
{% block tittle %}About Me | Ayila Adzkiya S{% endblock %}
{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-1 garis1"></div>
        <div class="col-10 kotak">
            <h1 class="judul">ABOUT ME .</h1>
            <img src="https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/user-woman-circle-512.png" alt="picture" class="icon">
            <p class="isi"> Hi! I’m Ayila Adzkiya Sucahyo, usually people call me Ayila. I’m 20 years old. Information System student at Universitas Indonesia.<br><br> 

            I’m honest and friendly person. I have good listening and communication skills. I work well in a team but also on my own as I like to set myself goals which I will achieve. 
            
            <br><br>I always have a planning in my head. I also like challenging myself. I can work with underpressure and have a good result. </p>
        </div>
        <div class="col-1 kotak"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script> 
<script src="css/bootstrap.css"></script>
{% endblock %}
