{% extends "NavBar.html" %}
{% load static %}
{% block tittle %}Education | Ayila Adzkiya S{% endblock %}
{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-1 garis1"></div>
        <div class="col-11 kotak">
            <h1 class="judul">EDUCATION .</h1>
            <img src="https://image.flaticon.com/icons/png/512/21/21195.png" alt="picture" class="icon">
            <p class="boldemas">2011 - 2014</p>
            <p class="isi">Bina Insani Junior High School - Bogor, Indonesia</p><br>
            <p class="boldemas">2014 - 2017</p>
            <p class="isi">2nd Senior High School - Bogor, Indonesia</p><br>
            <p class="boldemas">2018 - Present</p>
            <p class="isi">Bachelor’s Degree Information System - Faculty of Computer Science, Universitas Indonesia</p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script> 
<script src="css/bootstrap.css"></script>
{% endblock %}