{% extends "NavBar.html" %}
{% load static %}
{% block tittle %}Experience | Ayila Adzkiya S{% endblock %}
{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-1 garis1"></div>
        <div class="col-11 kotak">
            <h1 class="judul">EXPERIENCE .</h1>
            <img src="https://cdn2.iconfinder.com/data/icons/business-finance-1-1/128/customer-experience-512.png" alt="picture" class="icon">
            <p class="boldemas">September 2018 - November 2018</p>
            <p class="isi">Public Relation - Open House Faculty of Computer Science, Universitas Indonesia</p><br>
            <p class="boldemas">Desember 2018 - April 2019</p>
            <p class="isi">Sponsorship - Educare</p><br>
            <p class="boldemas">February 2019 - May 2019</p>
            <p class="isi">Event - Computer’s Get Together</p><br>
            <p class="boldemas">March 2019 - September 2019</p>
            <p class="isi">Sponsorship - Compfest 11</p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script> 
<script src="css/bootstrap.css"></script>
{% endblock %}