{% extends "NavBar.html" %}
{% load static %}
{% block tittle %}My Skills | Ayila Adzkiya S{% endblock %}
{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-1 garis1"></div>
        <div class="col-11 kotak">
            <h1 class="judul">MY SKILLS .</h1>
            <img src="https://cdn1.iconfinder.com/data/icons/business-and-services-vol-2/26/57_brain_memory_study_skill_human_neurology-512.png" alt="picture" class="icon">
            <p class = "tulis"> Java Script </p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
            </div>
            <p class = "tulis"> Bootstrap Framework </p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div>
            </div>
            <p class = "tulis"> Python </p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:35%"></div>
            </div>
            <p class = "tulis"> HTML(5) </p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
            </div>
            <p class = "tulis"> CSS(3) </p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script> 
<script src="css/bootstrap.css"></script>
{% endblock %}
