{% extends "NavBar.html" %}
{% load static %}
{% block tittle %}Experience | Ayila Adzkiya S{% endblock %}
{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-1 garis1"></div>
        <div class="col-6 kotak">
            <div class="hello">
                <h1> HE <br> LLO.</br> </h1>
                <div class="garis2"></div>
            </div>
            <div class="bio">
                <p class="data">I’m Ayila Adzkiya Sucahyo, Information System student at Universitas Indonesia
                    <div class="line"></div>
                </p>
            </div>
        </div>
        <div class="col-5 kotak">
            <div class="photo">
              <div class="circle1"></div>
              <div class="circle2"></div>
              <img src="https://pbs.twimg.com/media/EFcKDuVUcAALfV5?format=jpg&name=4096x4096" alt="picture" class="pic">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script> 
<script src="css/bootstrap.css"></script>
{% endblock %}